#query {
  border: none;
  width: 70%;
  height: 5em;

  &:focus {
    outline: none;
  }

  &::query {
    color: $near-black;
  }
}

#search-bar,
#query {
  background-color: $dusty-white;
}

#search-bar {
  border-radius: 5em;
  overflow-y: hidden;
  padding: 0 1em 0 1em;
}
